extends layout

block content

  div(class="shoe-detail-container card bg-dark text-white")
    div(class="shoe-detail-elements")
      h1(class="shoe-detail") #{shoe.name}

      div(class="shoe-image-container")
        img(class="shoe-image" src='/images/shoe_images/' + shoe.image)

      div(class="comment-form")
        form(method='POST' action='' enctype='application/x-www-form-urlencoded' class="comment-form")
          div(class="form-group")
            label(class="shoe-detail-comment-box" for='comment') Comment:
            textarea#summary.form-control(type='textarea', placeholder='Comment here', name="comment", required='true')
          button.btn.btn-primary(type='submit') Submit

  div(class="comments-list-container card")
    div(class="comments-list")
      each comment in shoe.comments
        ul(class="comments list-group")
          li(class="list-group-item")
            i(class="bi bi-person-circle commenter")
            p(class="username-of-commenter commenter") #{comment[0]}
            p(class="username-comment-text") #{comment[1]}
            //- a #{comment[1]} --------- Written by : #{comment[0]}

  if errors
    ul
      for error in errors
        li!= error.msg


